@charset "UTF-8";

table.table-garo2 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 13px;
	background: #fff;
	margin: 60px;
	border-collapse: collapse;
	text-align: center;
	border-bottom: 5px solid #592d00;
	top: 50%;
	table-layout: fixed;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}

table.table-garo2 {
	width: 1000px;
	border-bottom: 1px solid #a9a9a9;
	margin-left: 490px;
	margin-top: 0px;
}

table .table-garo2 :hover a {
	background-color: #fff;
}

table.table-garo2 :hover {
	color: black;
}

table.table-garo2 .tit :hover {
	font-weight: bold;
}

.table-garo2 tr th, .tabe-garo2 .tr .th {
	background: #f8eae2 url("../images/bg-title-sp.png") no-repeat left
		center;
}

table.table-garo2 th {
	font-size: 15px;
	font-weight: bold;
	color: black;
	padding: 5px 3px;
	border-bottom: 1px solid #a9a9a9;
}

table.table-garo2 td {
	border-bottom: 1px solid #ccc;
	color: black;
	cursor: pointer;
	padding: 6px 8px;
}

.buttons {
	margin-left: 1325px;
	margin-top: -45px;
	background-color: #e8bfaa;
	padding: 7px;
	border: none;
	border-radius: 40px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	border-radius: 40px;
}

.button {
	margin-top: -33px;
	margin-left: 1325px;
	background-color: #e8bfaa;
	padding: 7px;
	border: none;
	border-radius: 40px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	border-radius: 40px;
}

.button:hover {
	background-color: #7b4122;
}

.buttons:hover {
	background-color: #7b4122;
}

.eff-1 {
	text-decoration: none;
	padding: 9px;
	margin: 2px;
	font-size: 12px;
	color: black;
	font-weight: bold;
}

.eff-1:hover {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

button{	
	border:0;
	padding:0; 
	text-align: center;
	background:transparent; 
	cursor:pointer; 
	overflow:visible;
}

.eff-2{
	text-align: center;
	margin-left: 1200px;
}

.eff-2[type="submit"] {
	background-color: #e8bfaa;
	padding: 7px;
	border: none;
	border-radius: 40px;
	display: inline-block;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	border-radius: 40px;
	text-decoration: none;
	padding-left: 18px;
	padding-right: 18px;
	margin: 2px;
	font-size: 12px;
	color: black;
	font-weight: bold;
	margin-left: 1250px;
}

.eff-2[type="submit"]:hover {
	background-color: #7b4122;
	text-decoration: none;
	color: white;
	font-weight: bold;
}