@charset "UTF-8";

.pw-check-form {
	margin-left: 15%;
	margin-top: 5%;
	background: #ffffff;
	counter-reset: fieldsets;
	padding: 60px;
	width: 550px;
	height: 400px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
}

.pw-check {
	text-align: center;
	font-family: 맑은 고딕, 고딕, sans-serif;
	font-weight: bold;
	font-size: 17px;
}

#center {
	text-align: center;
}

#mypage-logo {
	width: 240px;
	height: 200px;
	margin-left: 170px;
}

#body {
	margin-top: 3px;
	min-height: 1800px;
}

#body .content-container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	background: white;
}