@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);


/* 메인 비주얼 이댱 */
#visual {
	height: 150px;
	background: #e3b197;
	list-style: none;
}

.btn {
	width: 92px;
	font-size: 20px;
	color: white;
	font-weight: bold;
	display: block;
	margin-bottom: 7px;
	padding: 5px 5px;
	border: 2px solid white;
	border-radius : 10px;
	background: transparent;
	cursor: pointer;
	overflow: hidden;

	margin-top: 10px;
}

.btn:hover {
	width: 92px;
	font-size: 20px;
	color: white;
	font-weight: bold;
	display: block;
	margin-bottom: 7px;
	padding: 5px 5px;
	border: 2px solid #d58b64;
	border-radius : 10px;
	background: transparent;
	cursor: pointer;
	overflow: hidden;
	background-color: #d58b64;
	
}

.use-button{
	float :left;
	margin-left: 800px;
	margin-top: 53px;
	text-align: center;
}

.sale-button{
	float :left;
	margin-left: 977px;
	margin-top: -47px;
	text-align: center;
}

/*-------------------------------------------------------------------------------------------------*/



/* 게시판 비주얼 이댱 */
#visual-info  {
	height: 150px;
	background: #d3b5a5;
	list-style: none;
}
.btn-info {
	width: 92px;
	font-size: 20px;
	color: white;
	font-weight: bold;
	display: block;
	margin-bottom: 7px;
	padding: 5px 5px;
	border: 2px solid white;
	border-radius : 10px;
	background: transparent;
	cursor: pointer;
	overflow: hidden;
	
	margin-top: 10px;
}

.btn-info:hover {
	width: 92px;
	font-size: 20px;
	color: white;
	font-weight: bold;
	display: block;
	margin-bottom: 7px;
	padding: 5px 5px;
	border: 2px solid #7b4122 ;
	border-radius : 10px;
	background: transparent;
	cursor: pointer;
	overflow: hidden;
	background-color: #7b4122;
	
}

.use-button-info{
	float :left;
	margin-left: 800px;
	margin-top: 53px;
	text-align: center;
	text-decoration: none; 
}

.sale-button-info{
	float :left;
	margin-left: 977px;
	margin-top: -47px;
	text-align: center;
	text-decoration: none;
}
